a img{
    margin-right: 2%;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

label span{
    display:inline-block;
    margin-left: 10px;
  }


.button-container{
    position: relative;
    top: 50%;
}

.calendar, .client-info, .confirm-reservation{
    width: 50%;
}

.columns{
    display: flex;
}

.date-time{
    padding: 3%;
}

.divider1, .divider2, .divider3{
    display: flex;
    font-size:1.5rem;
}

.empty-space{
    padding-top: 3%;
}

.image-fit{
    max-width: 99%;
    max-height: 99vh;
    margin: 0;
}

.image-left{
    display: grid;
    height: 100%;
}

.info{
    width: 80%;
    text-align: center;
}

.name-email{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.navbar-brand{
    padding-left: 1%;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-links{
    padding-right: 1%;
}

.radio{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.services{
    width: 50%;
}

.specialists{
    width: 50%;
}

.time{
    width: 50%;
}