a img{
    margin-right: 2%;
}

body, html{
    margin: 0%;
    height: 96.6%;
}

button, input{
    padding: 0px;
    margin-bottom: 20px;
    border-radius: 12px;
    background-color:#cccccc;
}

form{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

h2{
    padding-top: 1%;
}

.button-text{
    display: flex;
    flex-direction: column;
}

.button-title{
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;

    margin-left: 1rem;
}

.button-subtitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding-left: 4%;
    width: max-content;

    margin-left: 1rem;
}

.image-inside-button img{
    height: 12rem;
    width: 15rem;
    margin: 0%;
    float: left;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.list-of-services{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: 80%;
}

.main-section{
    background-image: linear-gradient(#cccccc, #ffffff, #a6a6a6);
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    height: 100%;
}

.navbar-brand{
    padding-left: 1%;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-links{
    padding-right: 1%;
}

.services{
    font-weight: bolder;
    font-size: larger;
}